# Docker context exclusions
.git
.github
.vscode
.idea
*.swp
*.log

# .NET exclusions
**/bin/
**/obj/
**/TestResults/

# Node.js exclusions
**/node_modules/
app/frontend/dist/

# Database / Storage
postgres_data/
data/
*.db
*.db-shm
*.db-wal

# Docker specifics
docker-compose*.override.yml
.env
